h1 {
    font-family: 'Unica One', sans-serif;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 45px;
    color: rgba(255, 255, 255, 0.6);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/index-wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.backdrop-overlay {
    z-index: 0;
    width: 40vw;
    height: 60vh;
    border-radius: 30px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: var(--common-shadow);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(32px);
    display: flex;
    text-align: center;
}

a.container-link {
    border: none !important;
    transition: none !important;
}

a.container-link:hover {
    border: none !important;
    transition: none !important;
}