h1 {
    font-family: 'Unica One', sans-serif;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 45px;
}

input {
    border: none;
    border-bottom: 1px solid #B8B8B8;
    width: 300px;
    transition-duration: .5s;
    margin: 10px 0;
    padding-bottom: 4px;
}

input:active, input:focus {
    outline: none;
    border-bottom: 1px solid #707070;
    transition-duration: .5s;
}

.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-content {
    padding: 8%;
}

.button.primary {
    width: 120px;
}

.submit-ui {
    margin-top: 35px;
}