h1 {
    font-family: 'Unica One', sans-serif;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 45px;
}

.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

input {
    margin: 10px 0;
}

.login-content {
    padding: 8%;
}

.button.primary {
    width: 120px;
}

.submit-ui {
    margin-top: 35px;
}

.backdrop-image {
    z-index: -2;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.password-error {
    color: red;
    font-size: 14px;
}

.backdrop-overlay {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-shadow: var(--common-shadow);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(32px);
}

input {
    background: transparent;
}

@media (min-width: 576px) {
    .backdrop-overlay {
        width: 60vw;
        background: white;
    }

    input {
        background: white;
    }
}

@media (min-width: 992px) {
    .backdrop-overlay {
        width: 50vw;
    }
}

@media (min-width: 1600px) {
    .backdrop-overlay {
        width: 40vw;
    }
}