h1 {
    font-family: 'Unica One', sans-serif;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h2 {
    margin-bottom: 45px;
}

.login-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-content {
    padding: 8%;
}

.button.primary {
    width: 120px;
}

.submit-ui {
    margin-top: 35px;
}

.backdrop-image {
    z-index: -2;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.password-error {
    color: red;
    font-size: 14px;
}

/* TODO: In the original design mockup, this overlay is diagonal */
.backdrop-overlay {
    z-index: -1;
    position: absolute;
    width: 40vw;
    height: 100vh;
    box-shadow: var(--common-shadow);
    background: white;
    /*background: rgba(255,255,255,0.7);
    backdrop-filter: blur(32px);*/
}