/* Common styles */
* {
    --primary-color: #876FFF;
    --watching-color: #6FFFAD;
    --watched-color: #87BBFF;
    --paused-color: #FFCA6F;
    --cancelled-color: #FF6F6F;
    --queued-color: #B8B8B8;
    --common-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #707070;
}

.shadow {
    box-shadow: var(--common-shadow);
}

.icon {
    vertical-align: center;
    margin-top: -4px;
    margin-right: 5px;
    height: 20px;
}

/* Navbar styles */
.navbar {
    background-color: var(--primary-color);
    box-shadow: var(--common-shadow);
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
}


.navbar-brand {
    font-family: 'Unica One', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.nav-item {
    font-family: Exo, 'Open Sans', sans-serif;
    font-size: 18px;
}

.nav-link {
    color: rgba(255, 255, 255, 0.7) !important;
    transition-duration: .3s;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1.0) !important;
    transition-duration: .3s;
}

.dropdown-menu {
    background: var(--primary-color);
    border-radius: 0;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.7) !important;
    border-bottom: none;
}

.dropdown-item:hover {
    background: var(--primary-color);
    color: rgba(255, 255, 255, 1.0) !important;
    border-bottom: none !important;
}

.dropdown-divider {
    border-top: 1px solid rgba(0, 0, 0, .15);
}

/* Button styles */
.button {
    font-family: Exo, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: var(--common-shadow);
    background-color: white;
    height: 30px;
    padding: 1px 20px;
    text-align: center;
    transition-duration: 0.5s;
    transition-property: box-shadow, background-color;
}

.button:hover {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.3s;
}

.button:active, .button:focus {
    outline: 0;
    -moz-outline-style: none;
}

.button.inline {
    vertical-align: top;
    margin-top: 6px;
}

.button.primary {
    border: 1px solid var(--primary-color);
}

.button.primary.selected {
    color: white;
    background-color: var(--primary-color);;
}

.button.watching {
    border: 1px solid var(--watching-color);
}

.button.watching.selected {
    color: white;
    background-color: var(--watching-color);
}

.button.watched {
    border: 1px solid var(--watched-color);
}

.button.watched.selected {
    color: white;
    background-color: var(--watched-color);
}

.button.paused {
    border: 1px solid var(--paused-color);
}

.button.paused.selected {
    color: white;
    background-color: var(--paused-color);
}

.button.cancelled {
    border: 1px solid var(--cancelled-color);
}

.button.cancelled.selected {
    color: white;
    background-color: var(--cancelled-color);
}

.button.queued {
    border: 1px solid var(--queued-color);
}

.button.queued.selected {
    color: white;
    background-color: var(--queued-color);
}

/* Input styles */
input {
    border: none;
    border-bottom: 1px solid #B8B8B8;
    width: 300px;
    transition-duration: .5s;
    padding-bottom: 4px;
}

input:active, input:focus {
    outline: none;
    border-bottom: 1px solid #707070;
    transition-duration: .5s;
}

/* Link styles */
a {
    text-decoration: none;
    color: var(--primary-color) !important;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition-duration: .5s;
}

a:hover {
    border-bottom: 1px solid var(--primary-color);
    text-decoration: none;
    transition-duration: .5s;
}

a.link-muted {
    color: inherit !important;
    transition: none;
}

a.link-muted:hover {
    border-bottom: none !important;
    transition: none;
}

/* Other */
#anime-search-results {
    display: none;
    position: fixed;
    height: 200px;
    overflow-y: auto;
    background: white;
    box-shadow: var(--common-shadow);
    z-index: 10;
}

.search-message {
    width: 100%;
    text-align: center;
    padding: 15px;
}

.search-result-item {
    user-select: none !important;
    cursor: pointer;
    width: 100% !important;
    margin: 0 !important;
    padding: 5px;
}

.search-result-item:hover {
    background: #EFEFEF;
}

label {
    font-size: 14px;
}