/* Base Styles
-------------------------------------------------- */
* {
    --primary-color: #876FFF;
    --watching-color: #6FFFAD;
    --watched-color: #87BBFF;
    --paused-color: #FFCA6F;
    --cancelled-color: #FF6F6F;
    --queued-color: #B8B8B8;
    --footer-height: 40px;
    --common-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #707070;
}

.section-header {
    margin-top: 3rem;
    margin-bottom: .5rem;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: var(--footer-height);
}

body.no-footer {
    margin-bottom: 0 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: var(--footer-height); /* Vertically center the text there */
    border-top: 1px solid #e5e5e5;
}