/* Link styles
-------------------------------------------------- */
a {
    text-decoration: none;
    color: var(--primary-color) !important;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition-duration: .5s;
}

    a:hover {
        border-bottom: 1px solid var(--primary-color);
        text-decoration: none;
        transition-duration: .5s;
    }

    a.link-muted {
        color: inherit !important;
        transition: none;
    }

        a.link-muted:hover {
            border-bottom: none !important;
            transition: none;
        }

/* Input styles
-------------------------------------------------- */
input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #B8B8B8;
    width: 300px;
    transition-duration: .5s;
    padding-bottom: 4px;
}

@media (max-width: 340px) {
    input, select {
        width: 270px !important;
    }
}

input:active, input:focus {
    outline: none;
    border-bottom: 1px solid #707070;
    transition-duration: .5s;
}

input.light {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}

    input.light::placeholder {
        color: rgba(255, 255, 255, 0.45);
    }

    input.light:active, input.light:focus {
        border-bottom: 1px solid white;
    }

label {
    font-size: 14px;
}

/* Button styles
-------------------------------------------------- */
.button {
    font-family: Exo, sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: var(--common-shadow);
    background-color: white;
    height: 30px;
    padding: 1px 20px;
    text-align: center;
    transition-duration: 0.5s;
    transition-property: box-shadow, background-color;
}

    .button:hover {
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
        transition-duration: 0.3s;
    }

    .button:active, .button:focus {
        outline: 0;
        -moz-outline-style: none;
    }

    .button.inline {
        vertical-align: top;
        margin-top: 6px;
    }

    .button.wide {
        width: 120px;
    }

    .button.primary {
        border: 1px solid var(--primary-color);
    }

        .button.primary.selected {
            color: white;
            background-color: var(--primary-color);
        }

    .button.watching {
        border: 1px solid var(--watching-color);
    }

        .button.watching.selected {
            color: white;
            background-color: var(--watching-color);
        }

    .button.watched {
        border: 1px solid var(--watched-color);
    }

        .button.watched.selected {
            color: white;
            background-color: var(--watched-color);
        }

    .button.paused {
        border: 1px solid var(--paused-color);
    }

        .button.paused.selected {
            color: white;
            background-color: var(--paused-color);
        }

    .button.cancelled {
        border: 1px solid var(--cancelled-color);
    }

        .button.cancelled.selected {
            color: white;
            background-color: var(--cancelled-color);
        }

    .button.queued {
        border: 1px solid var(--queued-color);
    }

        .button.queued.selected {
            color: white;
            background-color: var(--queued-color);
        }
