/* Headless page styles
-------------------------------------------------- */
body.hl-body {
    overflow: hidden;
}

h1.hl-header {
    font-family: 'Unica One', sans-serif;
    color: var(--primary-color);
    margin-bottom: 30px;
}

h2.hl-header {
    margin-bottom: 45px;
}

@media (max-width: 340px) {
    h1.hl-header {
        font-size: 2rem;
        margin-bottom: 15px;
    }

    h2.hl-header {
        font-size: 1.5rem;
        margin-bottom: 25px;
    }
}


.hl-container {
    display: flex;
    align-items: center;
    height: 100vh;
}

.hl-content {
    padding: 8%;
}

input.hl-input {
    margin: 10px 0;
}

.backdrop-image {
    z-index: -2;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.backdrop-overlay {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-shadow: var(--common-shadow);
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(32px);
}

@media (min-width: 576px) {
    .backdrop-overlay {
        width: 60vw;
        background: white;
    }

    input.hl-input {
        background: white;
    }
}

@media (min-width: 992px) {
    .backdrop-overlay {
        width: 50vw;
    }
}

@media (min-width: 1600px) {
    .backdrop-overlay {
        width: 40vw;
    }
}
